<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carrello</title>
</head>
<body>
	<h1>Carrello</h1>
	<form th:action="@{'/carrello/insert/inserisci'}" method="post">
        
        <label for="idshops">Shop:</label>
        <input type="text" name="idshops" required><br><br>
        
         <label for="idprodotto">Prodotti:</label>
        <input type="text" name="idprodotto" required><br><br>
        
         <label for="quantita">Quantita:</label>
        <input type="text" name="quantita" required><br><br>
        
        <button type="submit">Salva</button>
    </form>
</body>
</html>