<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Carrello</title>
</head>
<body>
	<h1>Carrello</h1>
	<form th:action="@{'/dettaglio_carrello/insert/inserisci'}" method="post">
        
        <label for="idcarrello">carrello:</label>
        <input type="text" name="idcarrello" required><br><br>
        
         <label for="idProdotto">Prodotti:</label>
        <input type="text" name="idProdotto" required><br><br>
        
         <label for="Quantita">Quantita:</label>
        <input type="text" name="Quantita" required><br><br>
        
        <button type="submit">Salva</button>
    </form>
</body>
</html>