<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> Carrello</title>
</head>
<body>
    <h1>Carrello</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>carrello</th>
                <th>Prodotto</th>
                <th>Quantita</th>
                <th>Delete</th>
				<th>Update</th>
				<th>Insert</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="dettaglio_carrello : ${dettaglio_carrello}">
                <td th:text="${dettaglio_carrello.id}"></td>
                <td th:text="${dettaglio_carrello.idcarrello}"></td>
                <td th:text="${dettaglio_carrello.idProdotto}"></td>
                <td th:text="${dettaglio_carrello.Quantita}"></td>
                 <td>
                 <form th:action="@{'/dettaglio_carrello/delete/' +${dettaglio_carrello.id}}" method="post" style="display: inline;">
                 <input type="hidden" name="${_method}" value="delete" />
                 <button type="submit" >Delete</button>
                 </form>
                  </td>
					<td>
					<button>
					<a th:href="@{'/dettaglio_carrello/update/' +${dettaglio_carrello.id}}" style="display: inline;">Update</a>
					 </button>
					 </td>
					 <td>
						<button>
						 <a th:href="@{'/dettaglio_carrello/insert'}" style="display: inline;">Insert </a>
					</button>
					  </td>
            </tr>
        </tbody>
    </table>
</body>
</html>